@import 'colors';
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Audiowide', sans-serif;
}
